/* body{
    color: red;
    font-family: sans-serif;
} */

#texto {
    color: red;
    font-family: sans-serif;
    font-size: 70px;

}

p {
    font-size: initial; /*Não herda*/
    font-size: inherit; /*Herda*/
}